<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/static/css/bulma.min.css">
    <title>QADR Remote</title>
</head>

<body>
    {{!-- <div class="container">
        <div class="notification is-primary">
            This container is <strong>fullwidth</strong> <em>until</em> the <code>$widescreen</code> breakpoint.
        </div>
    </div> --}}
    <div class="container is-max-desktop has-background-primary">
        <div class="notification is-primary">
            <h1 class="title">QADR Remote</h1>
        </div>
    </div>

    <section class="section">
        <div class="container  is-max-desktop">
            <div class="field">
                <label class="label">Section to show</label>
                <div class="control">
                    {{#each sectionsStatus}}
                    <button class="button is-primary {{#if this.active}}{{else}}is-outlined{{/if}}">{{this.name}}</button>
                    {{/each}}
                </div>
            </div>

            <div class="field">
                <label class="label">Slideshow delay (ms)</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input" value="{{ slideShowInterval }}">
                </div>
            </div>

             <div class="field">
                <label class="label">Transport</label>
                <div class="control">
                    <button class="button is-primary is-rounded">Pause</button>
                </div>
            </div>

        </div>

    </section>

</body>

</html>